version: "3"
services:
  reverseproxy:
    build:
      context: .
    image: gu0119/udagramreverseproxy
  backend_user:
    build:
      context: ./udagram-api-user
    image: gu0119/udagramapiuser
  backend_feed:
    build:
      context: ./udagram-api-feed
    image: gu0119/udagramapifeed
  frontend:
    build:
      context: ./udagram-frontend
    image: gu0119/udagramfront